[package]
name = "hdk-cli"
version = "0.1.0"
edition = "2024"

[dependencies]
# hdk-archive = { git = "https://github.com/ZephyrCodesStuff/hdk-rs", branch = "main" }
# hdk-sdat = { git = "https://github.com/ZephyrCodesStuff/hdk-rs", branch = "main" }
# hdk-secure = { git = "https://github.com/ZephyrCodesStuff/hdk-rs", branch = "main" }
hdk-archive = { path = "../hdk-rs/hdk-archive" }
hdk-sdat = { path = "../hdk-rs/hdk-sdat" }
hdk-secure = { path = "../hdk-rs/hdk-secure" }

clap = { version = "4.5.53", features = ["derive"] }
enum_dispatch = "0.3"
walkdir = "2.5.0"
dialoguer = "0.12.0"
